.counter{
margin:0;
padding:20px;
background-color: #8a7c56;
}
.counter-row{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.counter-column{
display:flex;
justify-content: center;
align-items: center;
padding-left: 1rem;
padding-right: 1rem;
border-right: 1px solid #C7C7C7;
}
.counter-column:last-child{
    border-right: none;
}
.counter-column .number{
font-weight:600;
font-size:50px;
font-family: "Poppins",sans-serif;
color:#f3c441;
}
.counter-column span{
    display:block;
    font-weight: 700;
    font-size:18px;
    color:rgba(0,0,0,0.7);
    line-height: 1.2;
    padding-left: 15px;
    font-family: "Poppins",sans-serif;
}
